* {
  margin: 0;
  padding: 0;
}
html,
body {
  min-height: 1575px;
  min-width: 100%;
  margin: 0;
  padding: 0;
}
body {
  background-image: url("../image_assets/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#nav-bar {
  background-color: black;
  height: 75px;
}
#nav-bar-flex-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 75px;
}
#logo {
  height: 75px;
  display: inline-block;
}
#logo:hover {
  cursor: pointer;
}
#logo img {
  margin: 12.5px;
  display: inline-block;
}
#logo-text {
  display: inline-flex;
  vertical-align: top;
  flex-direction: column;
  justify-content: center;
  height: 75px;
  margin: 0;
  padding: 0;
  flex-wrap: nowrap;
}
#logo-text p {
  color: white;
  font-size: 50px;
  font-family: "Comic Neue";
}
.button {
  height: 40px;
  margin: 15px;
  width: 150px;
  border-radius: 40px;
  transition: 100ms;
}
#feedback-btn {
  border: orange solid 2.5px;
  color: white;
}
#feedback-btn:hover {
  background: orange;
  color: white;
  cursor: pointer;
}
#feedback-btn-flx-cntr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40px;
}
#feedback-btn-flx-cntr p {
  font-size: 20px;
  font-family: "Comic Neue";
  font-weight: bold;
  text-align: center;
}
#homepage-flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 1500px;
  width: 100%;
}
#homepage-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 1000px;
  width: 500px;
  padding: 35px;
}
#main-text {
  margin: 50px;
  font-size: 50px;
  /* color: white; */
  text-align: center;
  font-family: "Comic Neue";
  font-weight: bold;
}
#description-text {
  font-size: 20px;
  font-family: "Comic Neue";
  text-align: center;
}
#get-started-btn {
  border: blue solid 2.5px;
  background-color: blue;
  color: white;
}

#get-started-btn-flx-cntr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40px;
}
#get-started-btn-flx-cntr p {
  font-size: 20px;
  font-family: "Comic Neue";
  font-weight: bold;
  text-align: center;
}
#main-button-div {
  display: flex;
  justify-content: center;
}
.button:hover {
  cursor: pointer;
}
