body {
  background-image: url("../image_assets/bg_flipped.jpg");
}
#homepage-content img {
  width: 300px;
}
#homepage-content {
  align-items: center;
}
#description-text {
  display: none;
}
#get-started-btn {
  display: none;
}
