@media (max-width: 820px) {
  body {
    min-height: 2000px;
  }
  #logo-text p {
    font-size: 20px;
  }
  #features-box {
    min-height: 1000px;
    margin-top: 100px;
  }
  #color-pallete {
    justify-content: flex-start;
  }
}
