*::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  height: 0px;
}
body {
  background-image: url("../image_assets/bg_flipped.jpg");
}
#heading-text {
  padding-top: 30px;
  padding-left: 20px;
  font-family: "Comic Neue";
  font-size: 60px;
  font-weight: bold;
  height: 100px;
}
.mid-text {
  padding-top: 30px;
  padding-left: 20px;
  font-family: "Comic Neue";
  font-size: 20px;
  font-weight: bold;
}
#color-pallete {
  margin: auto;
  max-width: 95%;
  height: 75px;
  background-color: black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 5px;
}
.color-circle {
  height: 50px;
  min-width: 50px;
  margin: 12.5px;
  background-color: white;
  border-radius: 50%;
  transition: 100ms;
}
.aqua {
  background-color: #00ffff;
}
.blue {
  background-color: #0000ff;
}
.fuchsia {
  background-color: #ff00ff;
}
.green {
  background-color: #008000;
}
.lime {
  background-color: #00ff00;
}
.maroon {
  background-color: #800000;
}
.purple {
  background-color: #800080;
}
.red {
  background-color: #ff0000;
}
.white {
  background-color: white;
}
.yellow {
  background-color: #ffff00;
}
.active-color {
  background-color: grey;
  border-radius: 10px;
  transition: 100ms;
}
#ta-aligner {
  min-width: 95%;
  min-height: 750px;
  display: flex;
  justify-content: center;
}
textarea {
  min-height: 750px;
  min-width: 92.5%;
  background-color: black;
  border-radius: 10px;
  color: yellow;
  font-family: "Comic Neue";
  font-size: 30px;
  padding: 15px;
}
